

html, body {
    font-size: 12px;
    font-family: Arial, Sans-Serif;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}
a {
    color: #666;;
}
a:hover {
    color: #666;
}
a:visited {
    color: #666;
    text-decoration: none;
}
 ul.up li a, ul.down a, ul.end li a{
    text-decoration: none;
    color: #3D3A3A;
}

form {
    padding-bottom: 30px;
}

input {
    width: 40%;
    padding: 12px 20px;
    margin-top: 30px;
    border-color: rgba(0,0,0,0.1);
}
.up{
    float: right;
    margin-top: 10px;
}

li.list {
    display: inline;
    margin-right: 17px;
    font-family: Arial, Sans-Serif;
}

.middle {
    padding-top: 170px;
    text-align: center;
}

#btn-1 {
    color: #fff;
    background: #4285f4;
    text-decoration: none;
    border: none;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 2px;
}

.btn-2 {
    background: #f8f8f8;
    color: #757575;
    border: none;
    padding: 10px;
}

footer {
    background-color: #eeeeee;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #d6d6d6;
    color: #666;
}

ul#left {
    bottom: 0;
    left: 0;
    display: inline;
}



ul#right {
    bottom: 0;
    right: 0;
    display: inline;

}

ul#left li{
    display:inline;
    float: left;
    padding: 10px;
}

ul#right li {
    display: inline;
    float: right;
    padding: 10px;
}
